# Ignore Python cache files
__pycache__/

# Ignore virtual environment directory
.venv/

# Ignore Python init files
__init__.py

# Ignore specific project files
chat_log.csv
Week3 - Chatbot Using NLP.zip
Week 3 Project PPT VK.pptx